<!DOCTYPE html>
<html>

<head>
    <title>Mafia-Gang</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>

    <h1>Mafia-Gang</h1>

    {% if player %}

        <p>
            Joueur : {{ player["name"] }}
            |
            Argent : {{ player["money"] }} $
            |
            Country : {{ player["country"] }}
        </p>

        <form action="/travel" method="POST" id="travel_form">

            <select name="travel">

                {% for country in countries %}

                    <option value="{{ country }}">
                        {{ country }}
                    </option>

                {% endfor %}

            </select>

            <button type="submit">
                Travel
            </button>

        </form>

    {% endif %}
    <nav id="main_nav">
        <a href="/player">Player</a>
        <a href="/market">Alcohol Market</a>
        <a href="/hunt">Hunt</a>
    </nav>
    
</header>

<hr>

{% block content %}

{% endblock %}

</body>
</html>