<!DOCTYPE html>
<html>

<head>
    <title>Mafia-Gang</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>

    <h1>Mafia-Gang</h1>

    {% if player %}

        <p>
            Player : {{ player["name"] }}
            |
            Money:
            {% if player["money"] < 0 %}
                <span style="color: red;">{{ player["money"] }}</span>
            {% else %}
                {{ player["money"] }}
            {% endif %}
         $
            |
            Country : {{ player["country"] }}
            |
            Crime points : {{player["crime_points"]}}
        </p>

        <form action="/travel" method="POST" id="travel_form">

            <select name="travel">

                {% for country in countries %}

                    <option value="{{ country }}">
                        {{ country }}
                    </option>

                {% endfor %}

            </select>

            <button type="submit">
                Travel
            </button>

        </form>

    {% endif %}
    <nav id="main_nav">
        <a href="/player">Player</a>
        <a href="/market">Alcohol Market</a>
        <a href="/hunt">Hunt</a>
        <a href="/top10">Top 10</a>
    </nav>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="message_flash">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    
</header>

<hr>

{% block content %}

{% endblock %}

</body>
</html>